<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 
	<system.web>		
				
		<webServices>
			<protocols>
				<add name="HttpGet" />
				<add name="HttpPost" />
				<add name="Unknown"/>
			</protocols>
		</webServices>	

	</system.web>	
	<system.serviceModel>
		<diagnostics>
			<messageLogging logMalformedMessages="true" logMessagesAtServiceLevel="true"
			 logMessagesAtTransportLevel="true" />
		</diagnostics>
		<bindings>
			<webHttpBinding>
				<binding name="secureWebHttpBinding" maxBufferSize="131072" maxReceivedMessageSize="131072">
					<security mode="Transport">
						<transport clientCredentialType="None" proxyCredentialType="None" />
					</security>
				</binding>
				<binding name="BigMessage" closeTimeout="00:02:00" openTimeout="00:02:00"
				 sendTimeout="00:02:00" maxBufferSize="131072" maxBufferPoolSize="1048576"
				 maxReceivedMessageSize="131072">
					<readerQuotas maxArrayLength="0" />
				</binding>
			</webHttpBinding>
		</bindings>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
		<services>
      <service behaviorConfiguration="CriticalResults.DirectoryServiceBehavior" name="CriticalResults.DirectoryService">
        <endpoint address="" binding="webHttpBinding" contract="CriticalResults.IDirectoryService" behaviorConfiguration="web"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      
      <service name="CriticalResults.SmtpTransportService" behaviorConfiguration="CriticalResults.TransportServiceBehavior">
        <!--<endpoint address="" binding="webHttpBinding" contract="CriticalResults.ITransportService" behaviorConfiguration="web"/>-->
        <endpoint address="" binding="wsHttpBinding" contract="CriticalResults.ITransportService"/>
        <endpoint address="/SystemMessage" binding="webHttpBinding" contract="CriticalResults.ISystemMessageSender" behaviorConfiguration="web"/>
      </service>
      <service behaviorConfiguration="CriticalResults.ResultsServiceBehavior"
			 name="CriticalResults.ResultsService">
				<endpoint address="" behaviorConfiguration="web" binding="webHttpBinding"
				 bindingConfiguration="BigMessage" name="webHttpEndpoint" contract="CriticalResults.IResultsService" />
				<endpoint address="/ws" binding="wsHttpBinding" name="wsHttpEndpoint"
				 contract="CriticalResults.IResultsService" />
			</service>
			<service behaviorConfiguration="CriticalResults.ManagementServiceBehavior"
			 name="CriticalResults.ManagementService">
				<endpoint address="management" behaviorConfiguration="web" binding="webHttpBinding"
				 contract="CriticalResults.IManagementService" />
				<endpoint address="/ws" binding="wsHttpBinding" contract="CriticalResults.IManagementService" />
			</service>
		</services>
		<behaviors>
			<endpointBehaviors>
				<behavior name="web">
					<webHttp />
					<dataContractSerializer maxItemsInObjectGraph="131072"/>
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
        <behavior name="CriticalResults.DirectoryServiceBehavior">
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
        
        <behavior name="CriticalResults.TransportServiceBehavior" >
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
				<behavior name="CriticalResults.ResultsServiceBehavior">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
					<dataContractSerializer maxItemsInObjectGraph="131072"/>
				</behavior>
				<behavior name="CriticalResults.ManagementServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>	
	<system.diagnostics>
		<sources>
            
      <source name="CriticalResults.SmtpTransport" switchName="debug">
        <listeners>
          <remove name="default"/>
          <add name="SmtpTransportServiceListener"></add>
        </listeners>
      </source>
      <source name="CriticalResults.SimpleEmailer" switchName="debug">
        <listeners>
          <remove name="default"/>
          <add name="SmtpTransportServiceListener"></add>
        </listeners>
      </source>
			<source name="CriticalResults.SendMail" switchName="VerboseLevelSwitch">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="SendMailListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
			<source name="CriticalResults.ResultsService" switchName="VerboseLevelSwitch">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="WebServicesListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
			<source name="CriticalResults.ResultsService.Audit" switchName="InformationLevelSwitch">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="AuditListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
			<source name="System.ServiceModel.MessageLogging" switchValue="Warning, ActivityTracing">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelMessageLoggingListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
			<source name="System.ServiceModel" switchValue="Warning,ActivityTracing"
			 propagateActivity="true">
				<listeners>
					<add type="System.Diagnostics.DefaultTraceListener" name="Default">
						<filter type="" />
					</add>
					<add name="ServiceModelTraceListener">
						<filter type="" />
					</add>
				</listeners>
			</source>
		</sources>
		<sharedListeners>
      <add name="TextWriterListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Poiesis\Log\CriticalResults\Directory.Service.DEV.log.txt" />
      <add name="SmtpTransportServiceListener" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
			initializeData="SendMailLog" AutoFlush="true"
			MaxFileSize="1000000" BaseFileName="SmtpTransportService.Dev"
			LogFileCreationSchedule="Daily" Append="true"
			Location="Custom" CustomLocation="D:\Poiesis\Log\CriticalResults\" traceOutputOptions="DateTime"/>
			<add AutoFlush="true" MaxFileSize="1000000" BaseFileName="Sendmail"
			 LogFileCreationSchedule="Daily" Append="true" Location="Custom"
			 CustomLocation="C:\ANCR\dev\logs\trace\" initializeData="FileLogWriter"
			 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
			 name="SendMailListener" traceOutputOptions="DateTime">
				<filter type="" />
			</add>
			<add AutoFlush="true" MaxFileSize="1000000" BaseFileName="WebServices"
			 LogFileCreationSchedule="Daily" Append="true" Location="Custom"
			 CustomLocation="C:\ANCR\dev\logs\trace\" initializeData="FileLogWriter"
			 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
			 name="WebServicesListener" traceOutputOptions="DateTime">
				<filter type="" />
			</add>
			<add AutoFlush="true" MaxFileSize="1000000" BaseFileName="Audit"
			 LogFileCreationSchedule="Daily" Append="true" Location="Custom"
			 CustomLocation="C:\ANCR\dev\logs\trace\" initializeData="FileLogWriter"
			 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
			 name="AuditListener" traceOutputOptions="DateTime">
				<filter type="" />
			</add>
			<add initializeData="C:\ANCR\dev\logs\ws\web_messages.svclog"
			 type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			 name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
			<add initializeData="C:\ANCR\dev\logs\ws\web_tracelog.svclog"
			 type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
			 name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
				<filter type="" />
			</add>
		</sharedListeners>
		<switches>
      <add name="DefaultSwitch" value="Verbose"/>
			<add name="ErrorLevelSwitch" value="Warning" />
			<add name="InformationLevelSwitch" value="Information" />
			<add name="VerboseLevelSwitch" value="Verbose" />
		</switches>
    <trace autoflush="true">
      <listeners>
        <add name="TextWriterListener"></add>
      </listeners>
    </trace>
	</system.diagnostics>
</configuration>

