<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CriticalResults.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
	<connectionStrings>
		<add name="CriticalResultsTransporterEntities" connectionString="metadata=res://*/CriticalResultsEntities.csdl|res://*/CriticalResultsEntities.ssdl|res://*/CriticalResultsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LOCALHOST;Initial Catalog=CriticalResultsTransporter;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITransportService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Message">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            algorithmSuite="Default" establishSecurityContext="true" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ancrdev.partners.org:81/CriticalResultsTransporter/SmtpTransportService/SmtpTransport.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITransportService"
                contract="TransportServiceReference.ITransportService" name="WSHttpBinding_ITransportService">
                <identity>
                    <userPrincipalName value="partners\poi" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <CriticalResults.Properties.Settings>
            <setting name="TimerInterval" serializeAs="String">
                <value>00:00:05</value>
            </setting>
            <setting name="EscalationRepeatTimeout" serializeAs="String">
                <value>7.00:00:00</value>
            </setting>
            <setting name="EscalationTransportName" serializeAs="String">
                <value>SMTP Transport</value>
            </setting>
            <setting name="EnableEscalation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableReminder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReminderTransportName" serializeAs="String">
                <value>SMTP Transport</value>
            </setting>
            <setting name="EnableNotification" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ReminderTime" serializeAs="String">
                <value>01/01/2000 16:30:00</value>
            </setting>
            <setting name="CriticalResultsUri" serializeAs="String">
                <value>http://host/CriticalResultsTransporter/Web/Default.aspx?AuthExt=Windows</value>
            </setting>
            <setting name="CriticalResultsSSLUri" serializeAs="String">
                <value>https://host/CriticalResultsTransporter/Web/Default.aspx?AuthExt=Windows</value>
            </setting>
            <setting name="MobileRedirectTarget" serializeAs="String">
                <value>mobile/Default.aspx</value>
            </setting>
            <setting name="RefreshTimeSeconds" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ContextNotDisplayed" serializeAs="String">
                <value>ORG</value>
            </setting>
            <setting name="FeedbackTransportName" serializeAs="String">
                <value>SMTP Transport</value>
            </setting>
            <setting name="Extension" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultDomain" serializeAs="String">
                <value>domain</value>
            </setting>
            <setting name="CentricityLoginHTTPS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdminName" serializeAs="String">
                <value>ANCR Admin</value>
            </setting>
            <setting name="AdminEmailAddress" serializeAs="String">
                <value>admin@example.com</value>
            </setting>
            <setting name="LDAPPath" serializeAs="String">
                <value>LDAP://CN=Users,DC=example,DC=com</value>
            </setting>
            <setting name="LDAPUsername" serializeAs="String">
                <value>domain\user</value>
            </setting>
            <setting name="LDAPPassword" serializeAs="String">
                <value>password</value>
            </setting>
            <setting name="SmtpServerIP" serializeAs="String">
                <value>smtp.gmail.com</value>
            </setting>
            <setting name="SmtpServerPort" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="SmtpAccountUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpAccountPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="SmtpAccountDomain" serializeAs="String">
                <value />
            </setting>
            <setting name="UseSsl" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmtpServerFromAddress" serializeAs="String">
                <value>ancr@example.com</value>
            </setting>
            <setting name="SmtpServerFromName" serializeAs="String">
                <value>Critical Results Alert Manager</value>
            </setting>
            <setting name="EmailSubject" serializeAs="String">
                <value>Critical Radiology Result Alert</value>
            </setting>
            <setting name="SmtpTransportName" serializeAs="String">
                <value>SMTP Transport</value>
            </setting>
        </CriticalResults.Properties.Settings>
    </applicationSettings>
	<system.diagnostics>
		<sources>
			<source name="CriticalResults.HybridAgent" switchName="DefaultSwitch">
				<listeners>
					<add name="AgentListener" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="AgentListener" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
   initializeData="SendMailLog" AutoFlush="true"
   MaxFileSize="1000000" BaseFileName="AgentConsole.DEV"
   LogFileCreationSchedule="Daily" Append="true"
   Location="Custom" CustomLocation="C:\Poiesis\Log\CriticalResults\" traceOutputOptions="DateTime"/>
		</sharedListeners>
		<trace autoflush="true">
			<listeners>
				<add name="AgentListener" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>