<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="CriticalResultsTransporterEntities" connectionString="metadata=res://*/CriticalResultsEntities.csdl|res://*/CriticalResultsEntities.ssdl|res://*/CriticalResultsEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=CriticalResultsTransporterDevDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>