<?xml version="1.0"?>
<configuration>
	<configSections>		
	</configSections>
	<system.web>				
  </system.web>
	<system.diagnostics>
    <sources>
      <source name="WindowsAuthExt.WindowsLogin" switchName="defaultSwitch">
        <listeners>
          <add name="consoleListener"></add>
          <add name="FileLogWriter"></add>
        </listeners>
      </source>
      <source name="CentricityAuthExt.CentricityLogin" switchName="defaultSwitch">
        <listeners>
          <add name="consoleListener"></add>
          <add name="FileLogWriter"></add>
        </listeners>
      </source>
    </sources>
		<sharedListeners>
			<add name="consoleListener" type="System.Diagnostics.ConsoleTraceListener"></add>
			<add name="FileLogWriter"
				 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
				 initializeData="FileLogWriter" AutoFlush="true"
				 MaxFileSize="10000000" BaseFileName="WindowsAuthExt.Log"
				 LogFileCreationSchedule="Daily" Append="true"
				 traceOutputOptions="DateTime"				 
				 Location="Custom" CustomLocation="C:\ANCR\dev\logs\trace" />
		</sharedListeners>
		<switches>
			<add name="defaultSwitch" value="Verbose"/>
		</switches>
		<trace autoflush="true">
			<listeners>
				
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
