    .menu
    {
    	background-color:ActiveBorder;
    	z-index:1000;
    	position:absolute;
    	border:solid 1px black;
    	display:none;
    	padding:5px;
    	text-align:left;
    	width:150px;
    }
